body, html {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --color: #8400ff;
}

header {
    text-align: center; 
    padding: fill;
    background-image: url("/static/bookround.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 300px 0;
}

h1 {
    margin: 0;
    color: #ffffff;
    font-size: 80px;
    font-family: 'Julius Sans One', sans-serif;

}

main {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    align-content: center;
}

h2 {
    height: 40px; 
    margin-top: 3px; 
    grid-area: name;
}

div {
    border: 1px #000000 solid;
    border-radius: 4px;
    box-shadow: 7px 7px 5px #808080;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    min-height: 350px;
    max-height: 350px;
    justify-content: safe;
    float: left;
    text-align: center;
    display: grid;
    grid-template-columns: name img order;
    grid-template-areas: 
    'name'
    'img'
    'order'
}

img {
    width: 250px;
    height: auto;
    grid-area: img;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.order {
    grid-area: order;
}

.items {
    min-width: 50%;
    align-content: center;
    justify-content: center;
}

.bleh {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.container { 
    max-height: 180px;
    margin-bottom: 40px; 
}

.button {
    background-color: var(--color);
    border: none;
    color: #ffffff;
    padding: 4px 32px 0 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a {
    margin-top: 33px;
}

.cartButton {
    background-color: var(--color);
    border: none;
    color: #ffffff; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}