{% extends "layout.html" %}

{% block content %}
    <header>
        <h1>Lorem Ipsum</h1>
    </header>
    {% for x in books %}
        <main>
            <div>
                <h2>{{ x['name'] }}</h2>
                <img class="center" width=250px src="/static/{{ x['image'] }}">
                <a class="order" href="/cart/add/{{ x['id'] }}">{{ x['value'] }}</a>
            </div>
        </main>
    {% endfor %}
    <br>
    <footer>
        <a href="/cart">cart</a>
    </footer>
{% endblock %}